ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.card{
    margin: auto;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #ccc;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li{
    padding: 10px;
    width: 250px;
    max-width: 250px;
    max-height: 400px;
}
.card > img{
    width: 100%;
    height: 50%;
}

.card h3{
    margin: 0;
    padding: 5px;

}

.card p{
    margin: 0;
    padding: 3px;

}

.card h2{
    margin: 0;
}

.card article{
    padding: 5px;

}

